.main {

	width: 980px;
	min-width: 450px;
    margin: 0 auto;
    background: #BCC2C6;
    @include breakpoint-980 {
    	width: 100%;
	}

	.left-container{
		background-image: url("../img/Calque1@1X.png");
		width: 450px;
		height: 600px;
		position: absolute;
		top:0;
		.plante{
			background-image: url("../img/Calque2@1X.png");
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			position: absolute;
    		bottom: 0;
    		height:352px;
    		width:100%;
    		text-align: center;
			h2{
				margin: 0;
			    position: absolute;
			    top: 50%;
			    left: 50%;
			    transform: translate(-50%, -50%);
			    color:#FF1D00;
			    font-family: Avenir Light;
			    font-size: 28px;
			}
		}
		@include breakpoint-980{
			width: 46%;
		}
		@include breakpoint-640 {
			position: relative;
			width: 100%;
		}
	}

	.right-container{
		background-color: $orange;
		margin-left: 450px;
		width: 530px;		
		min-height: 600px;
		padding: 15px 30px;
		@include breakpoint-980{
			width: 54%;
			margin-left: auto;
		}
		@include breakpoint-640 {
			margin-left: 0;
			padding:0;
			width:100%;
			.tab{
				padding: 15px 30px 0 30px;
			}
		}
	}

	.tabcontent{
    	.card{
    		background-color:white;
    		margin-top: 18px;
    		padding: 11px 24px 11px 11px;
    		@include breakpoint-640 {
    			padding: 11px 28px 11px 28px;
    		}
    	}
    	.expander{
    		margin-bottom: 14px;
    		cursor: pointer;
    		a{
    			text-decoration: none;
    			font-family: Avenir Light;
    			line-height: 26px;
    			text-transform: capitalize;
    			font-size: 24px;
				color: rgba(44, 62, 80, 255);
    		}
    		img{
    			float: right;
    			margin-top: 8px;
    			transition: 0.50s;
  				-webkit-transition: 0.50s;
  				-moz-transition: 0.50s;
  				-ms-transition: 0.50s;
  				-o-transition: 0.50s;
    		}
    		img.closed{
				-webkit-transition: 0.50s;
				-moz-transition: 0.50s;
				-ms-transition: 0.50s;
				-o-transition: 0.50s;
				-webkit-transform: rotate(180deg);
				-moz-transform: rotate(180deg);
				-o-transform: rotate(180deg);
				-ms-transform: rotate(180deg);
				transform: rotate(180deg);
    		}
    		hr{
    			margin-top: 5px;
    		} 
    	}
		.card-content{
			.info-content{
				margin-left: 174px;
				@include breakpoint-800 {
					margin-left:0;
					.arrival-dates{
						margin-bottom:0;
					}
				}
				@include breakpoint-640 {
					display:inline-block;
					width:100%;
					margin-top: 18px;
				}
			}
			p{
				margin-bottom: 14px;
				margin-top: 0;
				font-family: Avenir Light;
				font-size: 12px;
				
			}
			p:last-child{
    			margin-bottom: 0;
    		}
    		.date-publication{
    			text-align: right;
    			margin-top: 8px;
    			margin-bottom: 0;
    			width:auto;
    		}
    		hr{
    			margin-top: 27px;
    			@include breakpoint-640 {
    				margin-top: 10px;
    			}
    		}
    		.car-info{
    			display:inline-block;
				ul {
			  	list-style: none;
				margin: 0;
    			padding-left: 0;
    			font-family: Avenir Light;
    			font-size: 12px;
				}
				li {
				  padding-left: 1em;
				  text-indent: -1em;
				}
				li:before {
				  content: "-";
				  padding-right: 5px;
				}
    		}
			img{
				margin-right:14px;
				width:160px;
				height:90px;
				float: left;
				@include breakpoint-800 {
					margin-bottom:10px;
				}
				@include breakpoint-640 {
					width:auto;
					max-width: 100%;
					height:auto;
					margin-right:0;
				}
			}
		}
	}

}
