/* Style the tab */
.tab {
    overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button {
    font-family: Avenir Light;
    line-height: 28px;
    background-color: $btn-default-color;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px 11px;
    transition: 0.1s;
    margin-right: 18px;
    font-size: 24px;
    color: rgba(44, 62, 80, 255);
    height: 36px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    box-shadow: inset 0 -5px 0 0 $btn-active-color;    
}

/* Create an active/current tablink class */
.tab button.active {
    box-shadow: inset 0 -5px 0 0 $btn-active-color;    
}

/* Style the tab content */
.tabcontent {
    display: none;
    -webkit-animation: fadeEffect 0.8s;
    animation: fadeEffect 0.8s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}