@font-face {
  font-family: 'Avenir Light';
  src: url('../fonts/AvenirLTStd-Light.eot?#iefix');
  src: url('../fonts/AvenirLTStd-Light.eot?#iefix') format('eot'),
       url('../fonts/AvenirLTStd-Light.woff') format('woff'),
       url('../fonts/AvenirLTStd-Light.ttf') format('truetype'),
       url('../fonts/AvenirLTStd-Light.svg#ed104d8c-7f39-4e8b-90a9-4076be06b857') format('svg');
}