// =============================================================================
// Mixins
// =============================================================================

@mixin breakpoint-640 {
  @media only screen and (max-width:640px) { @content; }
}

@mixin breakpoint-980 {
  @media only screen and (max-width:980px) { @content; }
}


@mixin breakpoint-800 {
  @media only screen and (max-width:800px) { @content; }
}