<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Disneyland Test technique</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="assets/css/style.min.css" rel="stylesheet">
    <script src="assets/components/mustache.js/mustache.min.js"></script>
    <script src="assets/components/modernizer/modernizr.js"></script>
  </head>
  <body>

    <main class="main" role="main">

      <div class="right-container">
        <div class="tab">
          <button id="btn-hotel" class="tablinks" onclick="openTab(event, 'Hotels')">Hôtels</button>
          <button id="btn-voiture" class="tablinks" onclick="openTab(event, 'Voitures')">Voitures</button>
        </div>
        
        <!-- Start Hotels section -->
        <div id="Hotels" class="tabcontent">
          <!-- Hotels template -->
          <div id="hotels-target">Loading...</div>
          <script id="hotels-tpl" type="x-tmpl-mustache">
            {{#.}}
            <div class="card">
              <div class="expander">
                <a href="#">{{name}}</a>
                <img src="assets/img/spin.svg" \>
                <hr>
              </div>
              <div class="card-content">
                <img src="assets/{{imgPath}}">
                <div class="info-content">
                  <p>Réservé {{nbReservationLast24hours}} fois dans les dernières 24 heures.</p>
                  <p>{{description}}</p>
                  {{#dates}}
                    <p class="arrival-dates">Arrivée le: {{arrivalDate}}</p>
                    <p calss="arrival-dates">Départ le: {{departureDate}}</p>
                  {{/dates}}
                </div>
              </div>
            </div>
            {{/.}}
          </script>
        </div>
        <!-- End Hotels section -->


        <!-- Start Cars section -->
        <div id="Voitures" class="tabcontent">
          <div id="cars-target">Loading...</div>
          <script id="cars-tpl" type="x-tmpl-mustache">  
            {{#.}}
            <div class="card">
              <div class="expander">
                <a href="#">{{brand}} {{type}}</a>
                <img src="assets/img/spin.svg" \>
                <hr>
              </div>
              <div class="card-content">
                <img src="assets/{{imgPath}}">
                <div class="info-content">
                  <div class="car-info">
                    <ul>
                        <li>Puissance: {{power}} cv</li>
                        <li>Energie: {{energy}}</li>
                        <li>Année: {{year}}</li>
                        <li>Prix: {{price}} &euro;</li>
                    </ul>
                  </div>
                </div>
                <hr>
                <p class="date-publication">Publié le {{datePublication}}</p>
              </div>
            </div>
            {{/.}}              
          </script>
        </div>
        <!-- End Cars section -->
        
      </div>

      <!-- Here we will show the left container -->
      <div class="left-container">
        <div class="plante">
          <h2>Hello World</h2>
        </div>
      </div>

    </main>

    <script src="assets/components/jquery/dist/jquery.min.js"></script>
    <script src="assets/js/scripts.min.js"></script>

  </body>
</html>
