.clear:before, .clear:after {
  content: ' ';
  display: table; }

.clear {
  *zoom: 1; }
  .clear:after {
    clear: both; }

* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

body {
  font: 300 13px/1.6 'Helvetica Neue', Helvetica, Arial;
  color: #444;
  transition: all .4s .3s ease-in; }

body, html {
  min-height: 100vh; }

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

.nav ul {
  list-style: none; }

.main {
  width: 980px;
  min-width: 450px;
  margin: 0 auto;
  background: #BCC2C6; }
  @media only screen and (max-width: 980px) {
    .main {
      width: 100%; } }
  .main .left-container {
    background-image: url("../img/Calque1@1X.png");
    width: 450px;
    height: 600px;
    position: absolute;
    top: 0; }
    .main .left-container .plante {
      background-image: url("../img/Calque2@1X.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      bottom: 0;
      height: 352px;
      width: 100%;
      text-align: center; }
      .main .left-container .plante h2 {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        color: #FF1D00;
        font-family: Avenir Light;
        font-size: 28px; }
    @media only screen and (max-width: 980px) {
      .main .left-container {
        width: 46%; } }
    @media only screen and (max-width: 640px) {
      .main .left-container {
        position: relative;
        width: 100%; } }
  .main .right-container {
    background-color: #FF9000;
    margin-left: 450px;
    width: 530px;
    min-height: 600px;
    padding: 15px 30px; }
    @media only screen and (max-width: 980px) {
      .main .right-container {
        width: 54%;
        margin-left: auto; } }
    @media only screen and (max-width: 640px) {
      .main .right-container {
        margin-left: 0;
        padding: 0;
        width: 100%; }
        .main .right-container .tab {
          padding: 15px 30px 0 30px; } }
  .main .tabcontent .card {
    background-color: white;
    margin-top: 18px;
    padding: 11px 24px 11px 11px; }
    @media only screen and (max-width: 640px) {
      .main .tabcontent .card {
        padding: 11px 28px 11px 28px; } }
  .main .tabcontent .expander {
    margin-bottom: 14px;
    cursor: pointer; }
    .main .tabcontent .expander a {
      text-decoration: none;
      font-family: Avenir Light;
      line-height: 26px;
      text-transform: capitalize;
      font-size: 24px;
      color: #2c3e50; }
    .main .tabcontent .expander img {
      float: right;
      margin-top: 8px;
      transition: 0.50s;
      -webkit-transition: 0.50s;
      -moz-transition: 0.50s;
      -ms-transition: 0.50s;
      -o-transition: 0.50s; }
    .main .tabcontent .expander img.closed {
      -webkit-transition: 0.50s;
      -moz-transition: 0.50s;
      -ms-transition: 0.50s;
      -o-transition: 0.50s;
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
    .main .tabcontent .expander hr {
      margin-top: 5px; }
  .main .tabcontent .card-content .info-content {
    margin-left: 174px; }
    @media only screen and (max-width: 800px) {
      .main .tabcontent .card-content .info-content {
        margin-left: 0; }
        .main .tabcontent .card-content .info-content .arrival-dates {
          margin-bottom: 0; } }
    @media only screen and (max-width: 640px) {
      .main .tabcontent .card-content .info-content {
        display: inline-block;
        width: 100%;
        margin-top: 18px; } }
  .main .tabcontent .card-content p {
    margin-bottom: 14px;
    margin-top: 0;
    font-family: Avenir Light;
    font-size: 12px; }
  .main .tabcontent .card-content p:last-child {
    margin-bottom: 0; }
  .main .tabcontent .card-content .date-publication {
    text-align: right;
    margin-top: 8px;
    margin-bottom: 0;
    width: auto; }
  .main .tabcontent .card-content hr {
    margin-top: 27px; }
    @media only screen and (max-width: 640px) {
      .main .tabcontent .card-content hr {
        margin-top: 10px; } }
  .main .tabcontent .card-content .car-info {
    display: inline-block; }
    .main .tabcontent .card-content .car-info ul {
      list-style: none;
      margin: 0;
      padding-left: 0;
      font-family: Avenir Light;
      font-size: 12px; }
    .main .tabcontent .card-content .car-info li {
      padding-left: 1em;
      text-indent: -1em; }
    .main .tabcontent .card-content .car-info li:before {
      content: "-";
      padding-right: 5px; }
  .main .tabcontent .card-content img {
    margin-right: 14px;
    width: 160px;
    height: 90px;
    float: left; }
    @media only screen and (max-width: 800px) {
      .main .tabcontent .card-content img {
        margin-bottom: 10px; } }
    @media only screen and (max-width: 640px) {
      .main .tabcontent .card-content img {
        width: auto;
        max-width: 100%;
        height: auto;
        margin-right: 0; } }

@font-face {
  font-family: 'Avenir Light';
  src: url("../fonts/AvenirLTStd-Light.eot?#iefix");
  src: url("../fonts/AvenirLTStd-Light.eot?#iefix") format("eot"), url("../fonts/AvenirLTStd-Light.woff") format("woff"), url("../fonts/AvenirLTStd-Light.ttf") format("truetype"), url("../fonts/AvenirLTStd-Light.svg#ed104d8c-7f39-4e8b-90a9-4076be06b857") format("svg"); }

::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::-webkit-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

/* Style the tab */
.tab {
  overflow: hidden; }

/* Style the buttons inside the tab */
.tab button {
  font-family: Avenir Light;
  line-height: 28px;
  background-color: #FFFFFF;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 6px 11px;
  transition: 0.1s;
  margin-right: 18px;
  font-size: 24px;
  color: #2c3e50;
  height: 36px; }

/* Change background color of buttons on hover */
.tab button:hover {
  box-shadow: inset 0 -5px 0 0 #D6D5D5; }

/* Create an active/current tablink class */
.tab button.active {
  box-shadow: inset 0 -5px 0 0 #D6D5D5; }

/* Style the tab content */
.tabcontent {
  display: none;
  animation: fadeEffect 0.8s; }

/* Fade in tabs */

@keyframes fadeEffect {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
